$color-primary: #16cbdb;
$color-error: #d42a5d;

$text-color-primary: #213f66;
$text-color-secondary: #677085;

$border-color: #d8e2e6;

$desktop-breakpoint: 576px;

$layout-max-width: 760px;

$button-color-primary: #27d1c9;
